.Footer {
    background: url("./../../img/footer.png") center top no-repeat;
    background-size: cover;
    min-height: 92vh;
    display: flex;
    flex-direction: column; /* Изменено на flex-direction */
}


.footer__container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        margin-top: auto; /* Новое свойство для размещения внизу */
}



.footer__block {
    color: #ffff;
    background:rgba(22, 22, 22, 0.8);
    height: 189px;
    width: 100%; /* Добавлено для занимания всей ширины контейнера */
    backdrop-filter: blur(10px);
}
    
    .footer__row {
        display: flex;
        column-gap: 50px;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer__nav {
        padding-top: 38px;
        padding-left: 61px;
        padding-bottom: 38px;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0em;
    }
    
    .footer__nav ul {
        display: flex;
        column-gap: 50px;
        align-items: center;
    }
    
    .footer__nav a {
        color: #ffff;
    }
    
    .footer__links {
        padding-right: 96px;
    }
    
    .footer__links ul {
        display: flex;
        column-gap: 16px;
        align-items: center;
    }
    
    .footer__links ul li a img {
        width: 100%;
    
    }

    .footer__header {
        padding: 38px 46px;
        border: 1px solid #FF008A; 
        border-radius: 25px;
        background-color: #282828;
        box-shadow: 0px 4px 4px 0px #FF5D18;
        font-size: 36px;
    }

    .footer__subtitle {
        font-size: 32px;

    }
    


    
    
    @media (max-width: 1490px) {
        .footer__header {

            font-size: 30px;
        }

        .footer__subtitle {
            font-size: 26px;
    
        }
    
        
        .footer__row {
            column-gap: 34px;
        }
    
        .footer__nav {
            font-size: 18px;
    
        }
    
      }