.solana_wallet {
    border: 8px solid rgb(255, 117, 5);
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
    padding: 1vh;
}


.solana_walletconnect>p {
    line-height: 20px;

}

.solana_walletconnect {
    display: flex;
    gap: 5%;
    text-align: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.solana_walletconnect>input {
    background-color: #333;
    /* Темно-серый фон */
    padding: 5px;
    /* Отступы внутри блока */
    border: 1px solid orange;
    /* Ярко-оранжевая рамка */
    border-radius: 5px;
    /* Скругленные углы */
    max-width: 80%;
    margin: 0 auto;
    
}

.solana_walletexport {
    display: flex;
    gap: 5%;
    text-align: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.solana_walletexport>input {
    background-color: #333;
    /* Темно-серый фон */
    padding: 5px;
    /* Отступы внутри блока */
    border: 1px solid orange;
    /* Ярко-оранжевая рамка */
    border-radius: 5px;
    /* Скругленные углы */
    max-width: 80%;
    margin: 0 auto;
    font-size: 0.6rem;
    text-align: center;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blinking 1.6s infinite;
}

.game__connect {
    margin-bottom: 6vh;
}


@media screen and (max-width: 1220px) {

    .solana_walletconnect {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        justify-content: center;

    }
}

.solana_wallet {

    height: 46vh;

    padding: 2vh;
}

.solana_wallet {
    height: 44vh;
}