.solana_wallet {
    border: 4px solid rgb(255, 117, 5);

    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.solana_walletconnect {
    display: flex;
    gap: 5%;
    text-align: center;
    justify-content: center;
    
}