.Info {
  display: flex;
  background: url("./../../img/background.png") center top no-repeat;
  background-size: cover; /* Заменено на cover */
  height: 100vh;
  justify-content: center;
  }

  info__container {
    
  }
  
  .info__content {
    display: flex;
    column-gap: 88px;
    padding: 161px 82px;

  }
  
  .info__textcontent {
    max-width: 893px;
  }

  .info__img {
    margin-top: -40px;
    border-radius: 38px;

}
  
  .info__img img {
    border-radius: 38px;

}

.info__header {
  margin-bottom: 84px;
}

  
  .info__header h2,
  .info__text p {
    margin: 0;
    color: white; 
  }


  #info_header {
    padding: 44px 50px;
    border: 1px solid #FF008A; 
    border-radius: 25px;
    background-color: #282828;
  }


  .info__header h2 {
    font-size: 36px;
  }

  .info__text p {
    font-size: 24px;
    line-height: 40px;
    text-align: left;

  }

  .info_text-br {
    padding-bottom: 60px;

  }


  @media (max-width: 1490px) {
    .info__content {
      display: flex;
      column-gap: 228px;
      padding: 100px 52px;
        
    }

    .info__textcontent {
      max-width: 693px;
    }

    

  }