.header {
    color: #ffff;
    background: #151515;
    height: 100px;
}

.header__row {
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    padding-top: 38px;
    padding-left: 61px;
    padding-bottom: 38px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0em;
}

.header__nav ul {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.header__nav a {
    color: #ffff;
}

.header__links {
    padding-right: 19px;
}

.header__links ul {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.header__links ul li a img {
    width: 100%;

}


@media (max-width: 1490px) {

    
    .header__row {
        column-gap: 34px;
    }

    .header__nav {
        font-size: 18px;

    }

  }
