.Roadmap::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Четвертый параметр — прозрачность */
    z-index: 0; /* Помещаем псевдоэлемент под основной контент */
  }

.Roadmap {
    position: relative;
    display: flex;
    background: url("./../../img/background.png") center top no-repeat;
    background-size: cover; /* Заменено на cover */
    height: 100vh;
    justify-content: center;

  }
  
    .roadmap__container {
      color: #FFFFFF;
      width: 96%;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      z-index: 1;
  }

  
  
    .roadmap__header {
      margin-top: 202px;
      margin-bottom: 64px; /* Пространство между token__header и token__table */
    }
  
    .roadmap__header h1 {
      font-size: 36px;
    }
  
    #roadmap_header {
      padding: 42px 48px;
      border: 1px solid #FF008A; 
      border-radius: 25px;
      background-color: #282828;
      box-shadow: 0px 4px 4px 0px #FF5D18;
  
    }
    
    .roadmap__table {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку при нехватке места */
     /* max-width: 600px;  Максимальная ширина для поддержки уменьшения экрана */
      margin: 0 auto; /* Центрирование по горизонтали */
    }
    
    .roadmap__table-text {
      flex: 1; /* Равномерное распределение пространства между элементами */
      margin: 40px; /* Пространство между элементами */
      font-size: 36px;
      line-height: 36px;
      padding-top: 40px;
      padding-bottom: 40px;
      border-radius: 25px;
      background-color: #000000;
      border: 1px solid #FFFFFF;
      box-shadow: 0px 4px 4px 0px #FF5D18;
  
    }
  
    #r1 {
      margin-bottom: 22px;
    }
    

    
    .roadmap__btn {
      margin-top: 52px; /* Пространство между token__table-subtitle и token__btn */
    }
    
  
  .roadmap__btn button {
      font-size: 40px;
      font-weight: 400;
      line-height: 40px;
      padding: 50px 48px;
      background-color: #FF4D00;
      color: #FFFFFF;
      border-radius: 25px;
      box-shadow: 0px 4px 24px 0px #000000;
      cursor: pointer;
  
    }

    @media (max-width: 1790px) {

      .roadmap__header {
        margin-top: 148px;
        margin-bottom: 54px; /* Пространство между token__header и token__table */
      }

      .roadmap__header h1 {
        font-size: 32px;
      }

      .roadmap__table-text {
        font-size: 30px;
        line-height: 36px;
        padding-top: 34px;
        padding-bottom: 34px;
            
      }
      .roadmap__btn {
        margin-top: 28px; /* Пространство между token__table-subtitle и token__btn */
      }

      .roadmap__btn button {
        font-size: 36px;
        padding: 44px 42px;
 
    
      }
  
    }