.Roadmap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Четвертый параметр — прозрачность */
  z-index: 0; /* Помещаем псевдоэлемент под основной контент */
}

.Roadmap {
  position: relative;
  display: flex;
  height: 100svh;
  justify-content: center;
  align-items: center;

}

  .roadmap__container {
    color: #FFFFFF;
    width: 96%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

  .roadmap__header {
    margin-bottom: 5%; /* Пространство между token__header и token__table */
  }

  .roadmap__header h1 {
    font-size: 5vh;
  }

  #roadmap_header {
    padding: 3% 5%;
    border: 1px solid #FF008A; 
    border-radius: 25px;
    background-color: #282828;
    box-shadow: 0px 4px 4px 0px #FF5D18;

  }
  
  .roadmap__table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку при нехватке места */
    margin: 0 auto; /* Центрирование по горизонтали */
  }
  
  .roadmap__table-text {
    flex: 1; /* Равномерное распределение пространства между элементами */
    margin: 2%; /* Пространство между элементами */
    font-size: 4vh;
    line-height: 1.5;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px #FF5D18;

  }

  #r1 {
    margin-bottom: 1%;
  }
  

  
  .roadmap__btn {
    margin-top: 3%; 
    text-align: center;
  }
  

.roadmap__btn button {
  font-size: 5.5vh;
  line-height: 1.5;
  padding: 3% 4%;
  background-color: #FF4D00;
  color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 4px 24px 0px #000000;
  cursor: pointer;

  }

  
  @media screen and (max-width: 767px) {

    .roadmap__header h1 {
      font-size: 5vh;

      margin-bottom: 15%;
    }

    .roadmap__table-text {

      margin: 4%; /* Пространство между элементами */
      font-size: 3vh;
      line-height: 1.5;
      padding-top: 4%;
      padding-bottom: 4%;
  
    }
  
    #r1 {
      margin-bottom: 2%;
    }
    
    .roadmap__table-subtitle {
      font-size: 2vh;
      margin: 4% auto; /* Пространство между token__table и token__table-subtitle */
      padding-top: 4%;
      padding-bottom: 4%;
     
  
    }
    .roadmap__btn {
      margin-top: 15%; /* Пространство между token__table-subtitle и token__btn */

      text-align: center;
    }

    .roadmap__btn button {
      font-size: 4vh;
      

    }
  }